{% extends 'base.html' %}
{% load static %}
{% block title %}Shopping Cart{% endblock %}
{% block content %}
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Item Details</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart_items %}
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img src="{% static item.product.image %}" alt="{{item.product.name}}" class="fixed-height cart-item-img card-img-top">
            <div class="ms-3">
              <h5 class="mb-1">{{item.product.name}}</h5>
              <p class="mb-1 card-subtitle mb-2 text-muted">Price: {{item.product.price}} BD</p>
              <div class="d-flex ms-auto">
                <form action="{% url 'store:increase-cart-item' item.product.id %}" method="post">
                  {% csrf_token %}
                  <button class="btn btn-primary quantity-btn increase-quantity" type="submit">+</button>
                </form>
                <span class="item-quantity mx-2">{{ item.quantity }}</span>
                <form action="{% url 'store:decrease-cart-item' item.product.id %}" method="post">
                  {% csrf_token %}
                  <button class="btn btn-primary quantity-btn decrease-quantity" type="submit">-</button>
                </form>
              </div>
            </div>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}